# ============================================================
# SIGENMUNI - VARIABLES DE ENTORNO
# ============================================================

APP_NAME=SIGENMUNI
APP_ENV=development
APP_DEBUG=true
APP_TIMEZONE=America/Argentina/Buenos_Aires


# ============================================================
# BASE DE DATOS
# ============================================================

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=sigenmuni4
DB_USERNAME=root
DB_PASSWORD=
# ============================================================
# CORREO / SMTP
# ============================================================

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Municipalidad de Fortín Lugones"