# ==========================================================
# SIGENMUNI - ARCHIVOS NO VERSIONADOS
# ==========================================================


# ==========================================================
# ARCHIVOS TEMPORALES DEL SISTEMA
# ==========================================================

/storage/temp_recibos/*
!/storage/temp_recibos/.gitkeep


# ==========================================================
# SISTEMA OPERATIVO
# ==========================================================

.DS_Store
Thumbs.db


# ==========================================================
# CONFIGURACIÓN DEL EDITOR
# ==========================================================

.vscode/
.idea/


# ==========================================================
# LOGS
# ==========================================================

*.log


# ==========================================================
# ARCHIVOS TEMPORALES
# ==========================================================

*.tmp
*.temp


# ==========================================================
# COMPOSER
# ==========================================================

/vendor/


# ==========================================================
# VARIABLES DE ENTORNO
# ==========================================================

.env
.env.*
!.env.example